<br>

  <app-autores (autorSelecionado)="listarLivrosPorAutor($event)"></app-autores>
        

 

<br>



<br>
<div class="container">
  <!-- Container principal -->
  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="container">
        
    
      <!------------------------------------Navbar---------------------------------------------------->

      <nav class="navbar navbar-expand-lg navbar-dark mt-3 mb-5 shadow p-2" style="background-color: #131516">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">Categorias:</a>

          <button
            class="navbar-toggler"
            type="button"
            (click)="basicNav.toggle()"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div
            class="collapse navbar-collapse"
            id="navbarNav"
            mdbCollapse
            #basicNav="mdbCollapse"
          >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <!-- Link -->
            <li class="nav-item acitve">
              <button type="button" class="btn btn-tertiary" (click)="listAll()" mdbRipple>Todos</button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-tertiary" (click)="listGenero('ROMANCE')" mdbRipple>Romance</button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-tertiary" (click)="listGenero('FANTASIA')" mdbRipple>Fantasia</button>
            </li>
            <li class="nav-item">
              <button type="button" class="btn btn-tertiary" (click)="listGenero('MISTERIO')" mdbRipple>Misterio</button>
            </li>
          </ul>
          <!--
          <button type="button" class="btn btn-primary" (click)="enviarLivro()" mdbRipple>Novo Livro</button>
          -->

          </div>
        </div>
      </nav>
      <!------------------------------------Navbar---------------------------------------------------->



      <!----------------------------------------------------Products--------------------------------------->
      <section>
        <div class="text-center">
            <div class="row">
                <div *ngFor="let livro of livros" class="col-md-6 col-lg-3 mb-4">
                    <div class="card custom-card">
                        <span class="badge badge-primary">
                            <img src="{{livro.imagemUrl}}" class="card-img-top" alt="{{livro.titulo}}" />
                        </span>
                        <div class="card-body">
                            <a href="javascript:void(0)" class="card-link" (click)="showBookDetails(livro.id)">
                                {{livro.titulo}}

                                <!--<div class="card-footer text-muted">{{livro.autor.nome}}</div> --> 

                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
      <!------------------------------------Products---------------------------------------------------->


    
         <!-- -------------------------------APARECE APENAS SE CLICAR NO LIVRO-------------------------------------------->
         
         
              <div *ngIf="selectedBook" class="overlay">
                <!-- Container branco maior para o card de detalhes -->
                <div class="details-container">
                  <!-- Ícone de fechar no topo direito -->
                  <button type="button" class="btn-close" (click)="closeBookDetails()" aria-label="Fechar"></button>
                  
                  <div class="card">
                    <!-- Card content -->
                    <div class="card-body">

                      
                      <h5 class="custom-title">{{selectedBook.titulo}}</h5>
                      <p>Sinopse</p>
                      <p>{{selectedBook.sinopse}}</p>
                    </div>
                    <div class="card-footer bg-light">
                      <a href="{{selectedBook.linkLivro}}" target="_blank">
                        <br>
                        <p >Adquira                 <span><i class="fas fa-shopping-cart"></i></span>
                        </p>
                        
                      </a>
                      
                    </div>
                  </div>
                </div>
              </div>
           

         <!-- -------------------------------APARECE APENAS SE CLICAR NO LIVRO-------------------------------------------->

         

          <!--------------------------------Formulário para adicionar novo livro------------------------------------------------------------->
          <div *ngIf="showForm" class="overlay">
            <div class="form-container">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Adicionar novo livro</h5>
                  <form (ngSubmit)="salvarLivro()">
                    <div class="mb-3">
                      <label for="titulo" class="form-label">Titulo</label>
                      <input type="text" id="titulo" class="form-control" [(ngModel)]="livrosEdit.titulo" name="titulo" required>
                    </div>
                    <div class="mb-3">
                      <label for="imagemUrl" class="form-label">Imagem URL</label>
                      <input type="text" id="imagemUrl" class="form-control" [(ngModel)]="livrosEdit.imagemUrl" name="imagemUrl" required>
                    </div>

                    <div class="mb-3">
                      <label for="imagemUrl" class="form-label">Gênero</label>
                      <input type="text" id="imagemUrl" class="form-control" [(ngModel)]="livrosEdit.genero" name="genero" required>
                    </div>

                    <div class="mb-3">
                      <label for="sinopse" class="form-label">Sinopse</label>
                      <input type="text" id="sinopse" class="form-control" [(ngModel)]="livrosEdit.sinopse" name="sinopse" required>
                    </div>

                    <div class="mb-3">
                      <label for="linkLivro" class="form-label">Link do livro</label>
                      <input type="text" id="linkLivro" class="form-control" [(ngModel)]="livrosEdit.linkLivro" name="linkLivro" required>
                    </div>

                    <div class="mb-3">
                      <label for="valor" class="form-label">Valor R$</label>
                      <input type="text" id="valor" class="form-control" [(ngModel)]="livrosEdit.valor" name="genero" required>
                    </div>

                    <div class="mb-3">
                      <label for="autor.id" class="form-label">Autor</label>
                      <input type="text" id="autor.id" class="form-control" [(ngModel)]="livrosEdit.autor.id" name="autor.id" required>
                    </div>

                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <button type="button" class="btn btn-secondary" (click)="showForm = false">Cancelar</button>
                  </form>
                </div>

                <br>

              </div>
            </div>
          </div>
          <!--------------------------------Formulário para adicionar novo livro------------------------------------------------------------->

          
          </div>
         

    </div>


