/* Ajuste o tamanho do container */
.container-sm {
  max-width: 800px; /* Ajuste o valor conforme necessário */
  margin: 0 auto;   /* Centraliza o container horizontalmente */
}
h5{
  text-align: center;
  align-items: center;
}

/* Ajuste o tamanho dos cards */
.card {
  border: 1px solid #ddd; /* Adiciona uma borda leve aos cards */
  border-radius: 0.25rem; /* Ajusta o arredondamento dos cantos */
  max-width: 470px;

}

/* Ajuste o tamanho da imagem do card */
.card-img-top {
  height: 300px; /* Ajuste a altura conforme necessário */
  object-fit: scale-down ; /* Garante que a imagem cubra o card sem distorção */
  background-color: rgba(102, 98, 98, 0);//ALTERA FUNDO DO CARD -IMG
}

/*.card-img-top {
  width: 100%;
  height: auto;

}*/

.custom-card {
  
  max-width: 200px; /* Ajuste o valor conforme necessário */
  margin: 0 auto; /* Centraliza o card */
  margin-bottom: 20px;



}



//

/* conteudo.component.scss */

/* Camada de sobreposição */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Escurece o fundo para destacar o formulário */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Garante que o formulário fique acima de outros elementos */
}

/* Estilo para o formulário */
.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px; /* Define a largura máxima do formulário */
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ajuste o tamanho dos botões se necessário */
.btn {
  margin-right: 10px;
}


.container{
  background-color: rgba(26, 24, 24, 0.034);

}

//

.custom-card:hover {
  max-width: 203px; /* Ajuste o valor conforme necessário */



}
// BOTÃO DA CATEGORIA

.nav-item button {
  background-color: #f8f9fa00; /* Alterar para a cor de fundo desejada */
  color: #ffffffdc; /* Alterar para a cor do texto desejada */
  border: none; /* Remover borda se necessário */
  outline: none; /* Remover o contorno se necessário */
  box-shadow: none; /* Remover sombra se necessário */
  margin-left: 20px;
}



.nav-item button:focus {
  outline: none; /* Remover o contorno ao focar */
}

// container ao clicar no livro


/* Overlay para escurecer o fundo *//* Overlay para escurecer o fundo */


/* Container branco maior */
.details-container {
  position: relative; /* Necessário para posicionar o botão de fechar */
  background-color: #ffffff98;
  border-radius: 1rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2rem; /* Maior espaço interno */
  max-width: 100%;
  height: auto; /* Permite que o container se ajuste conforme o conteúdo */
  min-width: 300px; /* Define uma largura mínima para evitar que o card fique muito pequeno */
  box-sizing: border-box;
}


/* Ícone de fechar no topo direito */
.btn-close {
  position: absolute;
  top: 1rem; /* Ajuste conforme necessário */
  right: 0.5rem; /* Ajuste conforme necessário */
  border: none;
  font-size: 0.2; /* Ajuste o tamanho do ícone conforme necessário */
  cursor: pointer;
  color: #000000bd; /* Cor do ícone */
}

// Cor do titulo 
.custom-title {
  color: #55381dc2; /* Cor personalizada do texto */
  font-weight: bold; /* Peso da fonte */
  border-bottom: 2px solid #55381d8e; /* Linha abaixo do título */
  padding-bottom: 0.5rem; /* Espaçamento entre o texto e a linha */
  margin-bottom: 0.5rem; /* Espaçamento entre a linha e o próximo elemento */
}





.card-footer {
  font-size: 13px;
  padding: 0;
  text-align: center;
}