/* Ajuste o tamanho do container */
.container-sm {
  max-width: 800px; /* Ajuste o valor conforme necessário */
  margin: 0 auto;   /* Centraliza o container horizontalmente */
}

h5 {
  text-align: center;
  align-items: center;
}

/* Ajuste o tamanho dos cards */
.card {
  border: 1px solid #ddd; /* Adiciona uma borda leve aos cards */
  border-radius: 0.25rem; /* Ajusta o arredondamento dos cantos */
  max-width: 470px; /* Largura máxima do card */
}

/* Ajuste o tamanho da imagem do card */
.card-img-top {
  height: 300px; /* Ajuste a altura conforme necessário */
  object-fit: scale-down; /* Garante que a imagem cubra o card sem distorção */
  background-color: rgba(102, 98, 98, 0); /* Altera fundo do card - imagem */
}

.custom-card {
  max-width: 200px; /* Ajuste o valor conforme necessário */
  margin: 0 auto; /* Centraliza o card */
  margin-bottom: 20px;
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out; /* Transição suave */
}

/* Camada de sobreposição */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Escurece o fundo para destacar o formulário */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050; /* Garante que o formulário fique acima de outros elementos */
}

/* Estilo para o formulário */
.form-container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 500px; /* Define a largura máxima do formulário */
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Ajuste o tamanho dos botões se necessário */
.btn {
  margin-right: 10px;
}

.container {
  background-color: rgba(26, 24, 24, 0.034);
}

.custom-card:hover {
  transform: scale(1.05); /* Aumenta o tamanho do card */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao card */
}

/* BOTÃO DA CATEGORIA */
.nav-item button {
  background-color: #f8f9fa00; /* Alterar para a cor de fundo desejada */
  color: #ffffffdc; /* Alterar para a cor do texto desejada */
  border: none; /* Remover borda se necessário */
  outline: none; /* Remover o contorno se necessário */
  box-shadow: none; /* Remover sombra se necessário */
  margin-left: 20px;
}

.nav-item button:focus {
  outline: none; /* Remover o contorno ao focar */
}

/* Container branco maior */
.details-container {
  position: relative; /* Necessário para posicionar o botão de fechar */
  background-color: #ffffff98;
  border-radius: 1rem;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  padding: 2rem; /* Maior espaço interno */
  max-width: 100%;
  height: auto; /* Permite que o container se ajuste conforme o conteúdo */
  min-width: 300px; /* Define uma largura mínima */
  min-height: 200px;
  box-sizing: border-box;
}

/* Ícone de fechar no topo direito */
.btn-close {
  position: absolute;
  top: 2.1rem; /* Ajuste a posição se necessário */
  right: 2.2rem; /* Mantenha a posição à direita */
  z-index: 1100; /* Garante que o botão de fechar fique acima do container */
  border: none;
  font-size: 20px; /* Ajuste o tamanho do ícone conforme necessário */
  cursor: pointer;
  color: #000000bd; /* Cor do ícone */
  
}

/* Cor do título */
.custom-title {
  color: #55381dc2; /* Cor personalizada do texto */
  font-weight: bold; /* Peso da fonte */
  border-bottom: 2px solid #55381d8e; /* Linha abaixo do título */
  padding-bottom: 0.5rem; /* Espaçamento entre o texto e a linha */
  margin-bottom: 0.5rem; /* Espaçamento entre a linha e o próximo elemento */
}

.card-footer {
  font-size: 13px;
  padding: 0;
  text-align: center;
}

.container-autores {
  max-width: 90vw; /* Ajuste conforme necessário */
  height: auto; /* Permite que a altura se ajuste conforme o conteúdo */
  max-height: 400px; /* Altura máxima para mostrar a rolagem */
  overflow-y: initial; /* Remove a rolagem inicialmente */
  margin: 0 auto; /* Centraliza a div na página */
  padding: 1rem; /* Espaçamento interno opcional */
  background-color: #f9f9f900; /* Cor de fundo opcional */
}

/* Ativa a rolagem quando a largura da tela é menor que 768px */
@media (max-width: 768px) {
  .container-autores {
    overflow-y: auto; /* Adiciona rolagem vertical se necessário */
  }

  .details-container {
    max-width: 80%; /* Ajusta a largura máxima para 90% da tela em dispositivos móveis */
    padding: 1rem; /* Reduz o espaçamento interno */
  }

 
  .card {
    font-size: 14px; /* Ajusta o tamanho da fonte se necessário */
  }

  .btn-close {
    font-size: 15px; /* Tamanho maior para melhor visibilidade em telas menores */
    top: 1.2rem; /* Ajuste a posição se necessário */
    right: 1.2rem; /* Mantenha a posição à direita */
    z-index: 1100; /* Garante que o botão de fechar fique acima do container */
  }

  .custom-title {
    font-size: 18px; /* Ajusta o tamanho do título */
  }

  .card-footer {
    font-size: 12px; /* Ajusta o tamanho da fonte do rodapé */
  }
}
