.container-autores {
  max-width: 100%; /* Garante que o container não exceda a largura da tela */
  height: auto; /* Altura automática */
  max-height: 400px; /* Altura máxima se necessário */
  overflow-x: auto; /* Permite rolagem horizontal */
  overflow-y: hidden; /* Oculta a rolagem vertical */
  margin: 0 auto; /* Centraliza a div na página */
  padding: 1rem; /* Espaçamento interno opcional */
  background-color: #f9f9f900; /* Cor de fundo opcional */
  position: relative; /* Permite que as setas se posicionem em relação a este contêiner */

}

.img-container {
  display: flex; /* Usa flexbox para alinhar as imagens lado a lado */
  justify-content: center; /* Centraliza as imagens no contêiner */
  flex-wrap: nowrap; /* Garante que todos os itens fiquem em uma linha */
  padding-left: 20px; /* Adiciona espaçamento à esquerda */
}

.img-wrapper {
  display: flex; /* Flex para centralizar imagem e texto */
  flex-direction: column; /* Empilha a imagem e o título */
  align-items: center; /* Centraliza horizontalmente */
  margin: 0 5px; /* Reduz o espaço entre as imagens */
  flex-basis: auto; /* Permite que o item ocupe apenas o espaço necessário */
  width: 100px; /* Largura fixa para cada autor, ajuste conforme necessário */
}

.round-img {
  border-radius: 50%; /* Mantém a imagem redonda */
  width: 100px; /* Tamanho da imagem reduzido */
  height: 100px; /* Tamanho da imagem reduzido */
  object-fit: cover; /* Mantém a proporção da imagem */
}

h5 {
  color: rgb(95, 69, 34);
  font-size: 12px; /* Tamanho da fonte reduzido */
  padding-top: 3px;
  text-align: center; /* Centraliza o texto */
}

img:hover {
  transform: scale(1.05); /* Aumenta o tamanho do card */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao card */
  transition: transform 0.5s ease-in-out, box-shadow 0.5s ease-in-out; /* Transição suave */
}

.row{
margin-left: 20px;}